@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

html,
body {
  background-color: #3C3C3C; 
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  color: white;
}

div[class*=box] {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-three {
  transition: all 0.5s;
  position: relative;
}
.btn-three::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
}
.btn-three:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.btn-three::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 10px;
  transform: scale(1.2,1.2);
}
.btn-three:hover::after {
  opacity: 1;
  transform: scale(1,1);
}



.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Высота на всю высоту браузера */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #3C3C3C; 
  border: 5px double AliceBlue;
  border-radius: 20px;
  margin: 30px;
  padding: 20px;
  max-width: 200px; /* Максимальная ширина рамки */
  width: 100%; /* Ширина на всю ширину доступного пространства */
}

button {
  color: white;
  background-color: #3C3C3C;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-radius: 10px;
    border-width: 1px;
    text-align: center;
    margin: 0.1em;
    font: 15px system-ui;
    width: 40px;
}
button:hover 
{
  background-color: #FF6766;
}
html {
    font: 15px system-ui;
}